@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 125px;
}

#dependency-graph-header {
  margin: 0;
}

#back-button-2 {
  margin-top: 20px;
  margin-bottom: -25px;
}

.svg-design {
  margin-top: 50px;
  min-height: 60vh;
}

.svg-design {
  width: 100%;
  height: 100%;
}

.container-fluid-2 h5 {
  font-family: "Domine", serif;
}

#aplication-css {
  margin-top: 25px;
  margin-left: 5px;
}
