.container-fluid {
    height: auto;
    width: auto;
}

#userrole-box {
    margin-left: 245px;
    margin-right: 5px;
    margin-top: auto;
    padding-bottom: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#userrole-page {
    width: auto;
    height: auto;
}

.userrole-loding {
    justify-content: center;
    text-align: center;
    margin-top: 50vh;
}
